*{
 box-sizing: border-box;
 padding:0;
 margin:0;   
}
body{
    font-size: 16px;
    background-color: rgb(214, 218, 230);
    padding:10%;
    color:#fff;
    font-family:  'Barlow Semi Condensed', sans-serif;;
}
#body{
    width:80%;
    height:80vh;
    display: grid;
    grid-template-areas: 
    "box1 box1 box2 box3"
    "box4 box5 box5 box3";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    margin:0;
    
}
.boxes{
    border-radius:10px;
    padding:20px;
    
}

.boxes:nth-of-type(1){
    grid-area: box1;
    background-color:rgb(111, 52, 189);
    
}
.boxes:nth-of-type(2){
    grid-area: box2;
    background-color: rgb(99, 93, 93);
    
    
}
.boxes:nth-of-type(3){
    grid-area: box3;
    background-color: #fff;
    color:black;
    
    
}
.boxes:nth-of-type(4){
    grid-area: box4;
    background-color:#fff;
    color:black;
    
}
.boxes:nth-of-type(5){
    grid-area: box5;
    background-color: rgb(49, 46, 46);
    
}
.profP{
    width:30px;
    height:30px;
    border-radius: 50%;
    border:1px solid white;
    box-shadow: 1px 1px 60px blue;
    
}
.head{
    display: flex;
    gap:15px;
    font-size: 11px;
    
}
.div{
    display: block;
}
.wording{
    padding:15px 0;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    
}
.bold{
    font-weight: bolder;
    margin-bottom:20px;

}
.light{
    font-weight: lighter;
    opacity:0.9;
    
    
    
}
.tag{
    opacity:0.2;

}

@media(max-width:600px){
    body{
    padding:2%;

    font-family:  'Barlow Semi Condensed', sans-serif;
}
#body{
    grid-template-areas: 
    "box1"
    "box2"
    "box4"
    "box5"
    "box3";
    grid-template-columns: 1fr;
    grid-template-rows:repeat(5, 1fr);
    gap:10px;
    width:94%;
    margin:0 auto;
    
}
 .head{
    font-size: 20px;
 }
.boxes{
    padding-bottom: 5px;
}
 .wording{
    padding:15px 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    


}}

